<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated schemaTable -->
      <package
            uri="http://www.example.org/schemaTable"
            class="schemaTable.SchemaTablePackage"
            genModel="model/schemaTable.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated schemaTable -->
      <package
            uri="http://www.example.org/algo"
            class="algo.AlgoPackage"
            genModel="model/schemaTable.genmodel"/>
   </extension>

</plugin>
